---
import { getResponsiveImageAttributes } from "@imagekit/javascript";
import { inferRemoteSize } from "astro:assets";
import { IMAGEKIT_URL_ENDPOINT } from "astro:env/client";
import Image from "~/components/Image.astro";
import Layout from "~/layouts/Layout.astro";
import { buttonStyles } from "~/styles/components";
import {
  textPreset2,
  textPreset3,
  textPreset4,
  textPreset5,
  textPreset6,
} from "~/styles/typography";
import { tw } from "~/utils/tw";

const featuredArticles = [
  {
    title: "Hydrogen VS Electric Cars",
    description: "Will hydrogen-fueled cars ever catch up to EVs?",
    href: "/featured-articles/hydrogen-vs-electric-cars",
  },
  {
    title: "The Downsides of AI Artistry",
    description:
      "What are the possible adverse effects of on-demand AI image generation?",
    href: "/featured-articles/the-downsides-of-ai-artistry",
  },
  {
    title: "Is VC Funding Drying Up?",
    description:
      "Private funding by VC firms is down 50% YOY. We take a look at what that means.",
    href: "/featured-articles/is-vc-funding-drying-up",
  },
];

const articles = [
  {
    title: "Reviving Retro PCs",
    description: "What happens when old PCs are given modern upgrades?",
    image: "article-1.png",
    alt: "A collection of retro computing and gaming hardware, including a vintage monitor, keyboard, joystick, and cassette tapes, illuminated by neon blue and pink lighting.",
    href: "/articles/reviving-retro-pcs",
  },
  {
    title: "Top 10 Laptops of 2022",
    description: "Our best picks for various needs and budgets.",
    image: "article-2.png",
    alt: "Close-up macro view of a black mechanical computer keyboard with red backlit keys.",
    href: "/articles/top-10-laptops-of-2022",
  },
  {
    title: "The Growth of Gaming",
    description: "How the pandemic has sparked fresh opportunities.",
    image: "article-3.png",
    alt: "A white video game controller floating in the air above an open hand against a gray background.",
    href: "/articles/the-growth-of-gaming",
  },
];

const heroTabletImage = getResponsiveImageAttributes({
  src: "main-article-tablet.png",
  urlEndpoint: IMAGEKIT_URL_ENDPOINT,
});
const heroTabletImageResolution = await inferRemoteSize(heroTabletImage.src);
const heroDesktopImage = getResponsiveImageAttributes({
  src: "main-article-desktop.png",
  urlEndpoint: IMAGEKIT_URL_ENDPOINT,
  width: 730,
});
const heroDesktopImageResolution = await inferRemoteSize(heroDesktopImage.src);
---

<Layout
  title="News homepage"
  description="Read the latest headlines on technology, AI, startups, and gaming, with featured analysis and top stories."
>
  <div
    class={tw(
      "px-4 pt-8 pb-20 md:px-20",
      "2xl:mx-auto 2xl:w-278 2xl:px-0 2xl:pt-16 2xl:pb-16",
    )}
  >
    <div class="space-y-16">
      <div class="space-y-16 2xl:flex 2xl:items-start 2xl:gap-8 2xl:space-y-0">
        <section class="space-y-6 2xl:w-182.5">
          <picture class="block">
            <source
              media="(min-width: 90rem)"
              srcset={heroDesktopImage.srcSet}
              sizes={heroDesktopImage.sizes}
              width={heroDesktopImageResolution.width}
              height={heroDesktopImageResolution.height}
            />

            <source
              media="(min-width: 48rem)"
              srcset={heroTabletImage.srcSet}
              sizes={heroTabletImage.sizes}
              width={heroTabletImageResolution.width}
              height={heroTabletImageResolution.height}
            />

            <Image
              src="main-article-mobile.png"
              alt="Lego 3D Render"
              isLCP
              class="h-75 w-full object-cover"
            />
          </picture>

          <div
            class="space-y-6 2xl:flex 2xl:items-start 2xl:gap-8 2xl:space-y-0"
          >
            {
              /* The h1 max width addresses a mismatch between the Figma design */
            }
            {/* and the browser that causes the text to wrap differently. */}
            <h1
              class={tw(
                textPreset2,
                "text-navy-950 max-[24rem]:max-w-80",
                "2xl:flex 2xl:h-45.5 2xl:w-87.5 2xl:max-w-none 2xl:items-center 2xl:text-[3.5rem]/none",
              )}
            >
              The Bright Future of Web 3.0?
            </h1>

            <div class="space-y-6 2xl:w-87.5 2xl:space-y-8">
              <p class={tw(textPreset6, "text-navy-600")}>
                We dive into the next evolution of the web that claims to put
                the power of the platforms back into the hands of the people.
                But is it really fulfilling its promise?
              </p>

              <a
                href="/articles/the-bright-future-of-web-3-0"
                class={buttonStyles}
              >
                Read more
                <span class="sr-only">
                  about The Bright Future of Web 3.0?
                </span>
              </a>
            </div>
          </div>
        </section>

        <section
          class={tw(
            "bg-navy-950 px-6 py-4 md:px-10 md:py-8",
            "2xl:w-87.5 2xl:px-6 2xl:py-8",
          )}
        >
          <div class="space-y-8">
            <h2
              class={tw(
                textPreset3,
                "text-gold-400 md:max-2xl:text-[2.5rem]/none",
              )}
            >
              New
            </h2>

            <div class="space-y-8">
              {
                featuredArticles.map(({ title, description, href }, index) => (
                  <div class="space-y-2">
                    <h3 class={tw(textPreset4, "text-white")}>
                      <a
                        href={href}
                        class="transition-colors hover:text-gold-400"
                      >
                        {title}
                      </a>
                    </h3>
                    <p class={tw(textPreset6, "text-grey-300")}>
                      {description}
                    </p>

                    {index < featuredArticles.length - 1 && (
                      <hr class="mt-8 border-t border-navy-600" />
                    )}
                  </div>
                ))
              }
            </div>
          </div>
        </section>
      </div>

      <section
        class="space-y-8 2xl:flex 2xl:items-start 2xl:gap-10 2xl:space-y-0"
      >
        <h2 class="sr-only">Top articles</h2>
        {
          articles.map(({ image, alt, title, description, href }, index) => (
            <article class="flex items-start gap-6 md:items-center 2xl:w-85.25">
              <Image
                src={image}
                alt={alt}
                class="h-32 w-25 object-cover"
                width={100}
              />
              <div class="space-y-2">
                <p class={tw(textPreset3, "text-red-500")}>
                  {String(index + 1).padStart(2, "0")}
                </p>
                <h3 class={tw(textPreset5, "text-navy-950")}>
                  <a href={href} class="transition-colors hover:text-red-500">
                    {title}
                  </a>
                </h3>
                <p class={tw(textPreset6, "text-navy-600")}>{description}</p>
              </div>
            </article>
          ))
        }
      </section>
    </div>
  </div>
</Layout>
